<!DOCTYPE html>
<html>
  <head>
    <title>ClarifyCapital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app-container">
      <% flash.each do |type, message| %>
        <div class="flash <%= type %>"><%= message %></div>
      <% end %>

      <nav class="main-nav">
        <ul class="nav-tabs">
          <li class="nav-tab <%= 'active' if current_page?(clients_path) || current_page?(root_path) %>">
            <%= link_to "Clients", clients_path %>
          </li>
          <li class="nav-tab <%= 'active' if current_page?(lenders_path) %>">
            <%= link_to "Lenders", lenders_path %>
          </li>
          <li class="nav-tab <%= 'active' if current_page?(loans_path) %>">
            <%= link_to "Loans", loans_path %>
          </li>
        </ul>
      </nav>
      
      <div class="page-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
